set timeout=5
set default=0
menuentry "HuggyOS 1.2 (Live)" {
    linux /casper/vmlinuz boot=casper live-media-path=/casper ignore_uuid username=huggy noprompt quiet splash nomodeset
    initrd /casper/initrd
}
